<h1>products works!</h1>
<div class="card">
  <div class="card-head">Lorem ipsum - product 1</div>
  <div class="card-body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque harum, vero veniam aspernatur, optio, nemo culpa
    maxime dolores eum ex quaerat quia vel aut. Vero incidunt ullam modi qui repellendus?
  </div>
</div>

<div class="card">
  <div class="card-head">Lorem ipsum - product 2</div>
  <div class="card-body">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque harum, vero veniam aspernatur, optio, nemo culpa
    maxime dolores eum ex quaerat quia vel aut. Vero incidunt ullam modi qui repellendus?
  </div>
</div>
